@import "mi-nav.css";
@import "mi-footer.css";
@import "listas.css";

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  line-height: 1.4;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  color: #404040;
  font-family: "Arial", Segoe UI, Tahoma, sans-serifl, Helvetica Neue, Helvetica;
}

.seccion-perfil-usuario .perfil-usuario-body,
.seccion-perfil-usuario {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.seccion-perfil-usuario .perfil-usuario-header {
    width: 100%;
    display: flex;
    justify-content: center;
    background: linear-gradient(#73d0ff, transparent);
    margin-bottom: 1.55rem;
}

.seccion-perfil-usuario .perfil-usuario-portada {
    display: block;
    position: relative;
    width: 90%;
    height: 17rem;
    background: linear-gradient(45deg, #fd2655, #263abf);
    border-radius: 0 0 20px 20px;
}

.seccion-perfil-usuario .perfil-usuario-portada .boton-portada {
    position: absolute;
    top: 1rem;
    right: 1rem;
    border: 0;
    border-radius: 8px;
    padding: 12px 15px 12px 0px;
    background-color: rgba(0, 0, 0, .5);
    color: #fff;
    cursor: pointer;

}

.seccion-perfil-usuario .perfil-usuario-portada .boton-portada i {
    margin-right: 1rem;

}

.seccion-perfil-usuario .perfil-usuario-avatar {
    display: flex;
    width: 180px;
    height: 180px;
    align-items: center;
    justify-content: center;
    border: 7px solid #FFFFFF;
    background-color: #DFE5F2;
    border-radius: 50%;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    position: absolute;
    bottom: -40px;
    left: calc(50% - 90px);
    z-index: 1;
}

.seccion-perfil-usuario .perfil-usuario-avatar img {
    width: 100%;
    position: relative;
    border-radius: 50%;
}

.seccion-perfil-usuario .perfil-usuario-avatar .boton-avatar {
    position: absolute;
    left: -2px;
    top: -2px;
    border: 0;
    background-color: #fff;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    width: 45px;
    height: 45px;
    border-radius: 50%;
    cursor: pointer;
}

.seccion-perfil-usuario .perfil-usuario-body {
    width: 70%;
    position: relative;
    max-width: 750px;
}

.seccion-perfil-usuario .perfil-usuario-body .titulo {
    display: block;
    width: 100%;
    font-size: 1.75em;
    margin-bottom: 0.5rem;
}

.seccion-perfil-usuario .perfil-usuario-body .texto {
    color: #848484;
    font-size: 0.95em;
}

.seccion-perfil-usuario .perfil-usuario-footer,
.seccion-perfil-usuario .perfil-usuario-bio {
    display: flex;
    flex-wrap: wrap;
    padding: 3.5rem 3rem;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    background-color: #fff;
    border-radius: 15px;
    width: 100%;
}

.seccion-perfil-usuario .perfil-usuario-bio {
    margin-bottom: 2.25rem;
    padding: 3rem 3rem 3.7rem 3rem;
    text-align: center;
}

.seccion-perfil-usuario .lista-datos {
    width: 50%;
    list-style: none;
}

.seccion-perfil-usuario .lista-datos li {
    padding: 5px 0;
}

.seccion-perfil-usuario .lista-datos li>.icono {
    margin-right: 1rem;
    font-size: 1.2rem;
    vertical-align: middle;
}


/* adaptacion a dispositivos */
@media (max-width: 750px) {
    .seccion-perfil-usuario .lista-datos {
        width: 100%;
    }

    .seccion-perfil-usuario .perfil-usuario-portada,
    .seccion-perfil-usuario .perfil-usuario-body {
        width: 95%;
    }
  }
/*
/*
/*---------------Alumnos-------------------*/
.seccion-perfil-usuario .perfil-alumnos-portada {
  display: block;
  position: relative;
  width: 90%;
  height: 8rem;
  background: linear-gradient(45deg, #fd2655, #263abf);
  border-radius: 0 0 20px 20px;
}
.seccion-perfil-usuario .perfil-alumnos-portada .boton-portada {
  position: absolute;
  top: 1rem;
  right: 1rem;
  border: 0;
  border-radius: 8px;
  padding: 12px 12px 12px 12px;
  background-color: rgba(0, 0, 0, .5);
  color: #fff;
  cursor: pointer;
}
.seccion-perfil-usuario .perfil-alumnos.centro-titulo {
  display: block;
  width: 100%;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

  .seccion-perfil-usuario .perfil-alumnos {
    display: flex;
    flex-wrap: wrap;
    padding: 3rem 1rem 1rem 1rem;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    background-color: #fff;
    border-radius: 15px;
    width: 70%;
    position: relative;
    bottom: 3.2rem;
    justify-content: right;
}

.seccion-perfil-usuario .perfil-alumnos-info{
  display: flex;
  flex-wrap: wrap;
  padding: 2.5rem 3rem 13rem 3rem;
  box-shadow: 0 0 12px rgba(0, 0, 0, .2);
  background-color: #fff;
  border-radius: 15px;
  width: 100%;
  position: relative; 
}

/*-------------Alumno Nuevo-----------------*/
.seccion-perfil-usuario .perfil-registro-alumnos {
  display: flex;
  flex-wrap: wrap;
  padding: 2rem 2rem 2rem 2rem;
  box-shadow: 0 0 12px rgba(0, 0, 0, .2);
  background-color: #fff;
  border-radius: 15px;
  width: 70%;
  position: relative;
  bottom: 4rem;
  justify-content: center;
}

.seccion-perfil-usuario .perfil-registro-alumnos-info{
  display: flex;
  flex-wrap: wrap;
  padding: 2.5rem 3rem 3rem 3rem;
  box-shadow: 0 0 12px rgba(0, 0, 0, .2);
  background-color: #fff;
  border-radius: 15px;
  width: 100%;
  position: relative; 
}

input{
  background: none;
  color: #c6c6c6;
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid #49454567;
}
h1{
    text-align: center;
    font-weight: 700;
}

.form{
  width: 100%;
  margin: auto;
}

form .grupo{
  position: relative;
  margin: 45px ;
}
input:focus{ 
  outline: none;
  color: #5e5d5d;
}

label{
  color: #49454567;
  font-size: 16px;
  position: absolute;
  left: 5px;
  top: 10px;
  transition: 0.5s ease all;
  pointer-events: none;
}

input:focus~label,
input:valid~label{
  top: -14px;
  font-size: 12px;
  color: #2196f3;
}

.barra{
  position: relative;
  display: block;
  width: 100%;
}

.barra::before{
  content: "";
  height: 2px;
  width: 0%;
  bottom: 0;
  position: absolute;
  background: linear-gradient(to right, #B06AB3, #4568DC);
  transition: 0.3s ease width;
  left: 0;
}

input:focus~.barra::before{
  width: 100%;
}

.perfil-registro-alumnos-info .guardar{
  font-family: 'roboto';
  background: #4568DC;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #B06AB3, #4568DC);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #B06AB3, #4568DC);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 18px;
  border: 0;
  display: block;
  width: 80%;
  margin: 10px auto;
  color: #fff;
  height: 40px;
  font-size: 16px;
  cursor: pointer;
}

@media screen and (max-width:500px){
  form{
      width: 80%;
  }
}

/*-----------------Editar ALumno-------------*/

.seccion-perfil-usuario .perfil-alumnos-portada .boton-portada-eliminar{
  position: absolute;
  top: 1rem;
  right: 6rem;
  border: 0;
  border-radius: 8px;
  padding: 12px 12px 12px 12px;
  background-color: rgba(0, 0, 0, .5);
  color: #fff;
  cursor: pointer;
}
